body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: Oxygen;
}

/** HEADER **/
#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

/** NAVBAR **/
.navbar-brand{
	margin-bottom: 30px;
}

.navbar-brand a{
	text-decoration: none;
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 1.6em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand p{
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	font-size: .7em;
	margin-top: 12px;
}

.navbar-brand span{
	vertical-align: middle;
}
#navbarContent{
	margin-bottom: 75px;
	justify-content: right;
}

#nav-list a{
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 1.4em;
	color: #61122f;
	/*padding-right: 12px;*/
}
#nav-list a span{
	padding-right: 5px;
	
}
#nav-list a:hover{
	text-decoration: underline;
}
#phone a{
	padding-right: 0px;
}
#phone div{
	text-align: right;
	color: black;
	font-weight: bold;
	padding-right: 5px;
}

button.navbar-toggler{
	border-color: #61122f;
}

#main-content{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: auto;
}

#home-tiles{
	background-color: black;
	margin: auto;
}

.jumbotron{
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid #3F0C1F;
	/*margin-right: 16px;
	margin-left: -6px;*/
}

/***** Large devices only *****/
@media	(min-width: 1200px){
	#logo-img{
		background: url('../images/restaurant-logo_large.png') no-repeat;
		width: 150px;
		height: 150px;
		margin: 10px 15px 10px 0;
	}

	.jumbotron{
		background: url('../images/jumbotron_1200.jpg') no-repeat;
		max-width: 1200px;
	}
}

/***** Medium devices only *****/
@media (min-width: 992px) and (max-width: 1199px){
	/* Header */
	#logo-img{
		background: url('../images/restaurant-logo_medium.png') no-repeat;
		width: 100px;
		height: 100px;
		margin: 5px 5px 5px 0;
	}
	.navbar-brand{
		margin-bottom: 0px;
	}
	.navbar-brand a{
		font-size: 1.2em;
	}
	.navbar-brand p{
		font-size: 0.55em;
	}
	
	#navbarContent{
		font-size: 0.8em;
		margin-bottom: 45px;
	}

	.jumbotron{
		background: url('../images/jumbotron_992.jpg') no-repeat;
	}
}

/***** Small devices only *****/
@media (min-width: 768px) and (max-width: 991px){
	#logo-img{
		background: url('../images/restaurant-logo_medium.png') no-repeat;
		width: 100px;
		height: 100px;
		margin: 5px 5px 5px 0;
	}

	.navbar-brand{
		margin-bottom: 0px;
	}
	.navbar-brand a{
		font-size: 0.95em;
	}
	.navbar-brand p{
		font-size: 0.5em;
	}
	
	#navbarContent{
		font-size: 0.60em;
		margin-bottom: 45px;
	}

	.jumbotron{
		background: url('../images/jumbotron_768.jpg') no-repeat;
	}
}

/***** Extra small devices only *****/
@media (max-width: 767px){
	.navbar-brand{
		margin-bottom: 0px;
	}
	.navbar-brand a{
		font-size: 1.0em;
	}
	.navbar-brand p{
		font-size: 0.5em;
	}
	
	button.navbar-toggler{
		margin-bottom: -50px;
		scale: 80%;
	}

	#navbarContent{
		font-size: 0.65em;
		margin-bottom: 10px;
	}
	#navbarContent div{
		display:none;
	}
	
	.jumbotron{
		background: url('../images/jumbotron_768.jpg') no-repeat;
	}
}


